/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  text-align: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.woa-card {
  margin: 15px;
  width: 410px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}

