
<ul>
  <% @woa.bookings.each do |booking| %>
    <% if booking.persisted? %>
      <li>
        <%= booking.description %> <%= booking.ingredient.name %>
        <%= link_to "&times;".html_safe, booking, method: :delete %>
      </li>
    <% end %>
  <% end %>
</ul>

<hr>

<div class="container-flex">
  <% Woa::TYPES.each do |category| %>
    <%= link_to woas_path(search: { category: category }) do %>
    <div class="woa-card">
      <img src="http://placehold.it/550x300" alt="">
    </div>
      <% end %>
  <% end %>
</div>
